
.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}


.animate__fadeInUp {
  animation-name: fadeInUp;
}



.hero-content:not(.animate__animated),
.section-title:not(.animate__animated),
.service-card:not(.animate__animated) {
  opacity: 0;
  transform: translateY(30px);
}





.hero-content,
.section-title,
.service-card {
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.animate__delay-1s {
  animation-delay: 1s;
}

.animate__delay-2s {
  animation-delay: 2s;
}

.animate__delay-3s {
  animation-delay: 2s;
}
